.chat-main
   .main-header
      .main-header__left-box
         %h2.main-header__left-box__current-group  
            = @group.name
         %ul.main-header__left-box__member-list 
            Menber:
            %li.main-header__left-box__member-list__member  cccccccc
            - @group.group_users.each do |group_user|
               = group_user.user.name
      = link_to edit_group_path(@group) do
         .main-header__edit-btn  Edit
   .messages
      = render @messages
      .message
         .message__info
            %p.message__info__talker  aaaaa          
            %p.message__info__data  1111/11/11 0:00:00
         %p.message__text aaaaa 
      .message
         .message__info
            .message__info__talker kkkkkkkk
            .message__info__data   1111/11/11 0:00:00
         .message__text ssssss
           
   .form
      = form_for [@group, @message] do |f|
         = f.text_field :content, class: 'form__message', placeholder: 'type a message'
         .form__mask
            = f.label :image, class: 'form__mask__image' do
               = icon('fas', 'image', class: 'icon')
               = f.file_field :image, class: 'hidden'
         = f.submit 'Send', class: 'form__submit'